---
layout: default 
title: Process & Pricing | Refined Island Creations
seo: 
 title: Our Process and Pricing
 description: Explore Refined Island Creations' website development process and pricing options for luxury hospitality businesses.
 keywords: 
 - hotel website design
 - hotel web design
 - website design for hotels
 - best hotel website design
 - resort websites design
 - refined island creations process
 social_image: https://refinedislandcreations.com/images/luxury-bali-lombok.png
 hide-from-google: false
---

<!------------Header Banner--------------->

<section class="px-5p pb-15p md:pb-10p xl:pb-5p">

	<div class="pb-10p sm:pb-[25%] md:pb-20p">
		<div class="pt-10p sm:pt-5p md:pt-10p 2xl:pt-5p relative">
			<h1 class="responsive-header font-serif uppercase mb-0 absolute z-10 text-lightgreen"> Process & Pricing  </h1>
		</div>
	</div>

	<div class="grid grid-cols-5">
		<div class="col-span-2 relative">
			<div class="flex justify-center h-full flex-col">
				<h3 class="subheading-responsive mb-4 sm:px-5p md:px-0 font-serif uppercase py-3p"> Upgrade your online presence with a stunning, custom-coded website. </h3>
				<div class="hidden lg:block text-left mt-4">
					<a href="https://calendly.com/refinedislandcreations/consultation-call" target="_blank" class="cta text-base sm:text-2xl"> Book A Call Today </a> 
				</div>
			</div>
		</div>
		


		<div class="col-span-3">

			<div class="sm:grid sm:grid-cols-2 md:grid-cols-3 sm:gap-5">
				
				<div class="hidden sm:block col-span-1 pricing-second-picture">
					<img src="/images/boutique-hotel.png" alt="Luxury villa with pool, bridge, lush greenery, and multiple bedrooms" class="min-h-40 sm:min-h-50 object-cover">
				</div>

				<div class="hidden md:block col-span-1 pricing-third-picture">
					<img src="/images/luxury-interior-design.png" alt="Decorative wall art with vase - Refined Island Creations web design" class="min-h-50 object-cover">
				</div>

				<div class="col-span-1 pricing-main-picture">
					<img src="/images/luxury-bali-lombok.png" alt="Luxury beachfront boutique resort with villa, palm trees, white sand beach, and ocean" class="min-h-40 sm:min-h-50 object-cover">
				</div>
			</div>

			

		</div>
	</div>

    <div class="text-center mt-8 sm:mt-[4rem] lg:hidden">
		<a href="https://calendly.com/refinedislandcreations/consultation-call" target="_blank" class="cta text-base sm:text-2xl"> Book A Call Today </a> 
	</div>

</section>

<hr class="line-top-right">

<hr class="line-bottom-right">



<!-------------Jump ahead--------------->

<div class="sm:grid sm:grid-cols-3 mt-5p">

    <div class="col-span-1"> </div>

    <div class="col-span-2 text-center sm:text-right p-5p sm:pr-5p sm:pl-0 font-inter mb-0 py-10p sm:py-0">
        <p> For those of you who would like to get straight to the point,<br> jump straight to our prices here: 
        <a href="#prices" class="font-syne font-medium text-xl sm:text-3xl inline-block mb-0 pt-5 sm:pt-0 border-b-2"> Our Prices </a> </p>
    </div>
</div>

<hr class="line-top">

<hr class="line-bottom">

<!-------------Image for below 640px width---------

<section class="bg-cover bg-center min-h-40 bg-fixed sm:hidden" style="background-image:url(/images/drone-reverse.png)">
  </section>

  ------>

<!-------------Process Intro--------------->

<div class="pb-10p sm:pt-10p sm:pb-[6%] min-[1330px]:pb-[5%] pt-15p">
        <div>
            <h2 class="font-serif process-pricing-title mb-0 absolute z-10 text-lightgreen"> Our Process </h2>    
        </div>
</div>

<!-------------Process--------------->

<section class="sm:grid sm:grid-cols-5 sm:pb-10p">

    <div class="bg-cover bg-center min-h-90 sm:col-span-2 hidden sm:block" style="background-image:url(/images/dark-leaves-brighter.png)">
    </div>

    <div class="pt-10p sm:pt-0 sm:col-span-3 grid grid-cols-5">

        <div class="col-span-1 sm:mt-[40%]">
            <p class="text-4xl sm:text-[7.55rem] text-center sm:text-left sm:-ml-[78%] md:-ml-[60%] lg:-ml-[40%] xl:-ml-[30%] font-inter font-semibold text-lightgreen"> 1. </p>
        </div>

        <div class="col-span-4 sm:mt-15p sm:mr-10p sm:-ml-5p mb-8 pr-[3%] sm:pr-0">
            <h3 class="font-syne font-medium text-2xl sm:text-3xl"> Schedule a call with us! </h3>
            <p> During this consultation, we will explore your needs and goals, creating a scope of work for your custom website. This is crucial for your luxury property's essence to be accurately reflected. Let us start building your digital sanctuary today. </p>
            <div class="my-4">
                <a href="https://calendly.com/refinedislandcreations/consultation-call" target="_blank" class="cta"> Book A Call Today </a>
            </div>
        </div>

        <div class="col-span-1 sm:-mt-[17%]">
            <p class="text-4xl sm:text-[7.55rem] text-center sm:text-left sm:-ml-[78%] md:-ml-[60%] lg:-ml-[40%] xl:-ml-[30%] font-inter font-semibold text-lightgreen"> 2. </p>
        </div>

        <div class="col-span-4 sm:mr-10p sm:-ml-5p mb-8 pr-[3%] sm:pr-0">
            <h3 class="font-syne font-medium text-2xl sm:text-3xl"> Wireframe & Moodboard </h3>
            <p> Next, we will create a mood board, sitemap, and wireframe based on your vision. This blueprint will give you a preview of the design's look and feel, aligning with your brand identity and goals. </p>
        </div>

        <div class="col-span-1 sm:-mt-[17%]">
            <p class="text-4xl sm:text-[7.55rem] text-center sm:text-left sm:-ml-[78%] md:-ml-[60%] lg:-ml-[40%] xl:-ml-[30%] font-inter font-semibold text-lightgreen"> 3. </p>
        </div>

        <div class="col-span-4 sm:mr-10p sm:-ml-5p mb-8 pr-[3%] sm:pr-0">
            <h3 class="font-syne font-medium text-2xl sm:text-3xl"> Website Design - Bringing Your Vision to Life </h3>
            <p> We will create a customized website that reflects your brand and meets your goals. With placeholder content and images, you will see your website's captivating essence come to life. </p>
        </div>

        <div class="col-span-1 sm:-mt-[17%]">
            <p class="text-4xl sm:text-[7.55rem] text-center sm:text-left sm:-ml-[78%] md:-ml-[60%] lg:-ml-[40%] xl:-ml-[30%] font-inter font-semibold text-lightgreen"> 4. </p>
        </div>

        <div class="col-span-4 sm:mr-10p sm:-ml-5p mb-8 pr-[3%] sm:pr-0">
            <h3 class="font-syne font-medium text-2xl sm:text-3xl"> Coding Your Website - Making It Real </h3>
            <p> Once the design is approved, we will use HTML, CSS, jQuery & Jekyll to build your website for a seamless digital experience. You can review your website on a temporary domain for feedback.  </p>
        </div>

        <div class="col-span-1 sm:-mt-[17%]">
            <p class="text-4xl sm:text-[7.55rem] text-center sm:text-left sm:-ml-[78%] md:-ml-[60%] lg:-ml-[40%] xl:-ml-[30%] font-inter font-semibold text-lightgreen"> 5. </p>
        </div>

        <div class="col-span-4 sm:mr-10p sm:-ml-5p mb-8 pr-[3%] sm:pr-0">
            <h3 class="font-syne font-medium text-2xl sm:text-3xl"> Testing & Connect Live Domain - Your Website Goes Live </h3>
            <p> Before the grand reveal, we will test your website's performance on various devices and browsers to ensure fast loading and impressive appearance. Once we have made the necessary tweaks, we will connect your domain, and your personalized website will be ready for the world to admire. </p>
        </div>

    </div>

</section>




<!--------------FAQ - timeline------------------>

<section class="pt-5p pb-1p">

    <div>

		{% include accordion-timeline-smooth.html %}

    </div>
</section>

<!--------------FAQ - future------------------>

<section class="pb-5p">

    <div>

		{% include accordion-customize-smooth.html %}

    </div>
</section>



<!-------------Prices--------------->
<section id="prices">
<div class="pt-10p">
    <h2 class="font-serif process-pricing-title mb-0  z-10 text-lightgreen"> Our Prices </h2>
</div>
</section>

<div class="sm:grid sm:grid-cols-5 p-5p">
    <div class="col-span-1 sm:border-r-2 sm:border-[#839788]"> </div>
    <div class="col-span-4"> 
        <p class="pt-5p sm:pt-0 pl-3p"> 
            We provide personalized business packages tailored to meet your specific needs and expectations. Contact us to discuss your requirements and we'll create a customized package that suits your business perfectly. See below for an overview of our offerings, inclusions, and pricing range for websites. 
        </p>
    </div>
</div>

<hr class="line-top-right">

<hr class="line-bottom-right">

<!-------------Basic Package--------------->

<section class="px-5p pt-10p sm:pt-5p pb-5p">

    <div class="xl:grid xl:grid-cols-6 xl:items-center">

        <img src="/images/paper1.png" alt="" aria-hidden="true" class="hidden xl:block col-span-4">

        <div class="col-span-2 px-5p">
            <h4 class="font-syne font-medium text-3xl mt-5p mb-10p sm:mb-5p text-center"> The Signature Website </h4>

            <h3 class="text-center"> What's included: </h3>
            <ul class="list-disc">
                <li class="ml-5p"> Custom website design tailored to your brand and preferences. </li>
                <li class="ml-5p"> Thoughtful UI & UX design considerations to enhance the user experience. </li>
                <li class="ml-5p"> Detailed sitemap and wireframe of your website, allowing you to approve and collaborate at every step. </li>
                <li class="ml-5p"> Custom-coded pages are created after wireframe approval. The number of pages needed will be determined during a consultation call and will impact the listed price.  </li>
                <li class="ml-5p"> Seamless social media integration. </li>
                <li class="ml-5p"> Mobile responsiveness for all devices. </li>
                <li class="ml-5p"> SEO setup for improved online visibility. </li>
                <li class="ml-5p"> Alt-text for all images which enhances accessibility, boosts SEO and improves user experience. </li>
                <li class="ml-5p"> User-friendly and intuitive content management system (CMS) for easy updates. </li>
            </ul>

            <h3 class="font-syne font-medium text-3xl mt-10p sm:mt-5p text-center"> Starting at 2.500USD* </h3>

        </div>



    </div>

</section>


<!--------------FAQ - investment------------------>

<section class="pb-1p">

    <div>

		{% include accordion-investment-smooth.html %}

    </div>
</section>

<!--------------FAQ - investment------------------>

<section>

    <div>

		{% include accordion-worth-smooth.html %}

    </div>
</section>


<!-------------Social Media Package--------------->

<section class="px-5p pt-10p pb-5p">

    <div class="xl:grid xl:grid-cols-6 xl:items-center">

        <div class="col-span-2 px-5p">
            <h4 class="font-syne font-medium text-3xl mt-5p mb-10p sm:mb-5p text-center"> The Social Media Package </h4>

            <h3 class="text-center"> What's included: </h3>
            <ul class="list-disc">
                <li class="ml-5p"> Thorough social media platform audit for existing platforms. </li>
                <li class="ml-5p"> Targeted analysis of your business, target clientele, and competitors. </li>
                <li class="ml-5p"> Tailor-made social media strategy based on data analysis. </li>
                <li class="ml-5p"> Establish content pillars to highlight your luxury property, cultivate a community, and establish trust with followers. </li>
                <li class="ml-5p"> High-quality content creation using top-notch photos and videos, with options for connecting you with experienced luxury resort photographers. </li>
                <li class="ml-5p"> Our skilled graphic designers create brand-aligned graphics as needed. </li>
                <li class="ml-5p"> Engaging captions that tell your unique story and captivate potential clients. </li>
                <li class="ml-5p"> Research and implementation of strategic hashtags and geo-tagging for precise audience targeting. </li>
                <li class="ml-5p"> Detailed end-of-month reports for strategy analysis and continuous improvement. </li>
             
            </ul>

            <h3 class="font-syne font-medium text-3xl mt-10p sm:mt-5p text-center"> Starting at 500USD / month* </h3>

        </div>

        <img src="/images/art-paper.png" alt="" aria-hidden="true" class="hidden xl:block col-span-4">

    </div>

</section>


<!---------**------------>

<div class="px-5p text-center pt-10p lg:pb-10p">
    <p> * Please note that our websites and social media packages are tailored to your unique needs, and prices can vary based on specific requirements. <br> After a consultation call, we will provide you with a detailed and accurate quote for your project. </p>
</div>

{% include whatsapp.html %}