---
layout: default
title: 
seo:
  title: 
  description: 
  keywords:
    - hotel website design
    - villa website design
    - hotel web design
    - website design for hotels
    - custom-coded websites
    - web design for hotels
    - best hotels websites design
  social_image: 
  hide-from-google: true
header:
 - image: /images/the-curated-blend-website-design-development-refined-island-creations-bali.png
   position: 50% 50%
   label: 
   title: The Curated Blend
   text: A custom-coded one-page site that allows for tailored design selection, delivered within <span class="font-bold ">1.5 weeks</span>.
---

<!---------Starting at------------->

<section class="max-w-screen-2xl mx-auto px-5p sm:px-10p py-10p">
    <div class="lg:grid lg:grid-cols-6 lg:gap-4">
      <div class="col-span-2">
        <p class="mid-title pb-2p">Starting at $800</p>
      </div>
      <div class="col-span-4">    </div>
      <div class="col-span-2">    </div>
      <div class="col-span-4 text-border-top sm:px-5p" data-aos="fade-down">
        <p class="mt-5p">The Curated Blend package is designed for businesses that want a more distinctive online impact. This option lets you mix and match sections to create a visually compelling, single-page website that highlights your brand's unique identity. With a rapid turnaround of 1.5 weeks, you achieve a standout online presence without compromising on quality.</p>
      </div>
    </div>
  </section>


  <!---------Mix and match------------->

<section class="max-w-screen-2xl mx-auto px-5p sm:px-10p py-5p">
  <div class="lg:grid lg:grid-cols-6 lg:gap-4">
    <div class="col-span-2">
      <p class="mid-title pb-2p">Mix and Match Sections</p>
    </div>
    <div class="col-span-4">    </div>
    <div class="col-span-2">    </div>
    <div class="col-span-4 text-border-top sm:px-5p" data-aos="fade-down">
      <p class="mt-5p mb-2p">Let’s dive into the exciting part! With The Curated Blend package, you can personalize your website by choosing different sections from the options below. We’ll begin by selecting the header section, followed by your preferred navigation style, and you can continue customizing from there. This flexibility allows you to create a site that truly reflects your brand identity.</p>
      <p>Choose your:</p>
      <a href="#header-banner">Header Banner</a>
      <a href="#navigation">Website Navigation</a>
      <a href="#image-gallery">Image Gallery</a>
      <a href="#text-section">Text Section</a>
      <p>For more detailed information on who this package is for, what’s included, the process, and more, please click <a href="#" class="underline underline-offset-2">here</a>  to jump to the sections below.</p>
    </div>
  </div>
</section>


<!---------Header Banner----------->

<section class="max-w-screen-2xl mx-auto px-10p py-5p" id="header-banner">
  <div class="text-border-bottom">
      <p class="mixmatch-title pb-2p">
        Choose a Header Banner</p>
  </div>
 
  <!-- Header Banner Lightgallery -->
  <div class="grid lg:grid-cols-2 gap-3 w-full overflow-x-auto pt-2p" id="lightgallery">
      <a class="col-span-1" data-aos="fade-down" href="/images/luxury-villa-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
          <div class="relative h-auto lg:h-80"> <!-- Responsive height -->
              <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/luxury-villa-website-design-development-refined-island-creations.png" alt="Luxury Villa">
          </div>
      </a>
      <a class="col-span-1" data-aos="fade-down" href="/images/boutique-hotel-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
          <div class="relative h-auto lg:h-80"> <!-- Responsive height -->
              <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/boutique-hotel-website-design-development-refined-island-creations.png" alt="Boutique Hotel">
          </div>
      </a>
      <a class="col-span-1" data-aos="fade-down" href="/images/fine-dining-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
          <div class="relative h-auto lg:h-80"> <!-- Responsive height -->
              <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/fine-dining-website-design-development-refined-island-creations.png" alt="Fine Dining">
          </div>
      </a>
      <a class="col-span-1" data-aos="fade-down" href="/images/superhost-airbnb-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
          <div class="relative h-auto lg:h-80"> <!-- Responsive height -->
              <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/superhost-airbnb-website-design-development-refined-island-creations.png" alt="Superhost Airbnb">
          </div>
      </a>
      <a class="col-span-1" data-aos="fade-down" href="/images/luxury-airbnb-lombok-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
          <div class="relative h-auto lg:h-80"> <!-- Responsive height -->
              <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/luxury-airbnb-lombok-website-design-development-refined-island-creations.png" alt="Luxury Airbnb Lombok">
          </div>
      </a>
      <a class="col-span-1" data-aos="fade-down" href="/images/speakeasy-bar-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
          <div class="relative h-auto lg:h-80"> <!-- Responsive height -->
              <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/speakeasy-bar-website-design-development-refined-island-creations.png" alt="Speakeasy Bar">
          </div>
      </a>
  </div>
</section>  






<!---------Navigation----------->

<section class="max-w-screen-2xl mx-auto px-10p py-5p" id="navigation">

  <div class="text-border-bottom">
      <p class="mixmatch-title pb-2p">
        Choose a Navigation</p>
  </div>

  <!-- Navigation Lightgallery -->

  <div class="grid grid-cols-1 nav-gap w-full overflow-x-auto px-5p pt-2p" id="lg-1">
    <a class="col-span-1" href="/images/navigation-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
      <div class="relative nav-height"> <!-- Set a fixed height -->
        <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/navigation-website-design-development-refined-island-creations.png" alt="">
      </div>
    </a>
    <a class="col-span-1" href="/images/fast-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
      <div class="relative nav-height"> <!-- Set a fixed height -->
        <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/fast-website-design-development-refined-island-creations.png" alt="">
      </div>
    </a>
    <a class="col-span-1" href="/images/mix-and-match-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
      <div class="relative nav-height"> <!-- Set a fixed height -->
        <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/mix-and-match-website-design-development-refined-island-creations.png" alt="">
      </div>
    </a>
    <a class="col-span-1" href="/images/intuitive-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
      <div class="relative nav-height"> <!-- Set a fixed height -->
        <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/intuitive-website-design-development-refined-island-creations.png" alt="">
      </div>
    </a>
  </div>

</section>   




<!---------Image Gallery----------->

<section class="max-w-screen-2xl mx-auto px-10p py-5p" id="image-gallery">
  <div class="text-border-bottom">
      <p class="mixmatch-title pb-2p">
        Choose an Image Gallery</p>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-3 w-full overflow-x-auto px-5p pt-2p" id="lg-1">
    <!-- Image 1 -->
    <a class="col-span-1" href="/images/luxury-villa-image-gallery-web-design-development-refined-island-creations.png" aria-label="View larger version of the image">
      <div class="relative w-full h-auto lg:h-80"> <!-- Full height until lg, then set a height -->
        <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/luxury-villa-image-gallery-web-design-development-refined-island-creations.png" alt="Luxury Villa">
      </div>
    </a>

    <!-- Image 2 -->
    <a class="col-span-1" href="/images/image-gallery-web-design-development-refined-island-creations.png" aria-label="View larger version of the image">
      <div class="relative w-full h-auto lg:h-80"> <!-- Full height until lg, then set a height -->
        <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/image-gallery-web-design-development-refined-island-creations.png" alt="Image Gallery">
      </div>
    </a>

    <!-- Image 3 -->
    <a class="col-span-1" href="/images/restaurant-image-gallery-web-design-development-refined-island-creations.png" aria-label="View larger version of the image">
      <div class="relative w-full h-auto lg:h-80"> <!-- Full height until lg, then set a height -->
        <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/restaurant-image-gallery-web-design-development-refined-island-creations.png" alt="Restaurant Gallery">
      </div>
    </a>

    <!-- Image 4 -->
    <a class="col-span-1" href="/images/beautiful-images-web-design-development-bali-lombok-refined-island-creations.png" aria-label="View larger version of the image">
      <div class="relative w-full h-auto lg:h-80"> <!-- Full height until lg, then set a height -->
        <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/beautiful-images-web-design-development-bali-lombok-refined-island-creations.png" alt="Beautiful Bali Lombok">
      </div>
    </a>
  </div>

</section>


<!---------Text Section----------->

<section class="max-w-screen-2xl mx-auto px-10p py-5p" id="text-section">

  <div class="text-border-bottom">
      <p class="mixmatch-title pb-2p">
        Choose a Text Section</p>
  </div>

  <div class="grid grid-cols-2 gap-3 w-full overflow-x-auto pt-2p" id="lightgallery">

    <a class="col-span-2" href="/images/minimalistic-web-design-development-bali-lombok-refined-island-creations.png" aria-label="View larger version of the image">
      <div class="relative">
        <img loading="lazy" class="w-full h-auto object-contain object-center" src="/images/minimalistic-web-design-development-bali-lombok-refined-island-creations.png" alt="">
      </div>
    </a>
    <a class="col-span-2" href="/images/title-text-section-web-design-development-bali-lombok-refined-island-creations.png" aria-label="View larger version of the image">
      <div class="relative">
        <img loading="lazy" class="w-full h-auto object-contain object-center" src="/images/title-text-section-web-design-development-bali-lombok-refined-island-creations.png" alt="">
      </div>
    </a>
    <a class="col-span-2" href="/images/text-section-web-design-development-bali-lombok-refined-island-creations.png" aria-label="View larger version of the image">
      <div class="relative">
        <img loading="lazy" class="w-full h-auto object-contain object-center" src="/images/text-section-web-design-development-bali-lombok-refined-island-creations.png" alt="">
      </div>
    </a>
    <a class="col-span-2" href="/images/testimonial-section-web-design-development-bali-lombok-refined-island-creations.png" aria-label="View larger version of the image">
      <div class="relative">
        <img loading="lazy" class="w-full h-auto object-contain object-center" src="/images/testimonial-section-web-design-development-bali-lombok-refined-island-creations.png" alt="">
      </div>
    </a>
    <a class="col-span-1" href="/images/image-and-text-section-web-design-development-bali-lombok-refined-island-creations.png" aria-label="View larger version of the image">
      <div class="relative">
        <img loading="lazy" class="w-full h-auto object-contain object-center" src="/images/image-and-text-section-web-design-development-bali-lombok-refined-island-creations.png" alt="">
      </div>
    </a>
    <a class="col-span-1" href="/images/restaurant-villa-web-design-development-bali-lombok-refined-island-creations.png" aria-label="View larger version of the image">
      <div class="relative">
        <img loading="lazy" class="w-full h-auto object-contain object-center" src="/images/restaurant-villa-web-design-development-bali-lombok-refined-island-creations.png" alt="">
      </div>
    </a>
  </div>

</section>





<!---------Who this is for------------->

<section class="max-w-screen-2xl mx-auto px-5p sm:px-10p py-10p">
  <div class="lg:grid lg:grid-cols-6 lg:gap-4">
    <div class="col-span-2">
      <p class="mid-title pb-2p">Who This Is For</p>
    </div>
    <div class="col-span-4">    </div>
    <div class="col-span-2">    </div>
    <div class="col-span-4 text-border-top sm:px-5p" data-aos="fade-down">
      <p class="mt-5p mb-2p">Ideal for:</p>
      <ul class="ml-5p" style="list-style-type: disc;">
          <li class="mb-2p">Businesses looking to enhance their online identity with a more personalized approach.</li>
          <li class="mb-2p">Startups and entrepreneurs who require a distinctive, high-quality website that stands out.</li>
          <li>Cafes, boutique resorts, and Airbnbs seeking a visually appealing and functional site without the complexity of a full custom design.</li>
      </ul>
    </div>
  </div>
</section>



<!---------Package details------------->

{% include acc-package-details-curated.html %}


<!---------How it works------------->

{% include acc-process-timel-curated.html %}


<!---------Pricing and Value Proposition------------->

{% include acc-price-curated.html %}



<!---------Ready to Get Started?------------->

<section class="max-w-screen-2xl mx-auto px-5p sm:px-10p py-10p">
  <div class="lg:grid lg:grid-cols-6 lg:gap-4">
    <div class="col-span-2">
      <p class="mid-title pb-2p">Ready to Get Started?</p>
    </div>
    <div class="col-span-4">    </div>
    <div class="col-span-2">    </div>
    <div class="col-span-4 text-border-top sm:px-5p" data-aos="fade-down">
      <p class="mt-5p mb-2p">Elevate your business’s online presence today!</p>
      <p>Reach out to us to begin your journey with The Curated Blend or to learn more.</p>
      <div class="flex mt-5p">
        <a href="https://calendly.com/refinedislandcreations/consultation-call" target="_blank" class="text-xl cta"> Book A Call Today </a>
    </div>
    </div>
  </div>
</section>