---
layout: default
title: "The Curated Blend - Mix-and-Match Custom One-Page Websites for Hospitality Brands"
seo:
  title: "Tailored, custom-Coded One-Page Websites for Hospitality Brands | Fast Delivery & Unique Design"
  description: "Create a unique, custom-coded one-page website with The Curated Blend package. Mix and match sections to reflect your brand’s identity. Delivered in just 1.5 weeks, starting at $800. Perfect for boutique hotels, luxury resorts, cafes, and Airbnbs."
  keywords:
    - custom-coded website
    - one-page website design
    - tailored website for luxury hotels
    - hospitality website design
    - bali website design services
    - boutique hotel website
    - airbnb website design
    - fast turnaround web development
    - personalized website design
  social_image: /images/refined-island-creations-website-design-development-bali-worldwide.png
  hide-from-google: true
header:
 - image: /images/the-curated-blend-website-design-development-refined-island-creations-bali.png
   position: 0% 50%
   label: Header banner featuring a tiny wave in a vast ocean under the sky.
   title: The Curated Blend
   text: A custom one-page website that allows for tailored design selection, delivered within <span class="font-bold ">1.5 weeks</span>.
---





<!---------Starting at------------->

<section class="max-w-screen-2xl mx-auto">
  <div class="px-5p sm:px-10p py-10p md:pt-10p md:pb-5p xl:pt-5p xl:pb-0">
    <div class="lg:grid lg:grid-cols-6 lg:gap-4">
      <div class="col-span-2">
        <p class="mid-title pb-2p">Starting at $800</p>
      </div>
      <div class="col-span-4">    </div>
      <div class="col-span-2">    </div>
      <div class="col-span-4 text-border-top sm:px-5p" data-aos="fade-down">
        <p class="mt-5p">The Curated Blend package is designed for businesses that want a more distinctive online impact. This option lets you mix and match sections to create a visually compelling, single-page website that highlights your brand's unique identity. With a rapid turnaround of 1.5 weeks, you achieve a standout online presence without compromising on quality.</p>
      </div>
    </div>
  </div>
</section>


  <!---------Mix and match------------->

<section class="max-w-screen-2xl mx-auto">
  <div class="px-5p sm:px-10p py-5p">
    <div class="lg:grid lg:grid-cols-6 lg:gap-4">
      <div class="col-span-2">
        <h2 class="mid-title pb-2p">Mix and Match Sections</h2>
      </div>
      <div class="col-span-4">    </div>
      <div class="col-span-2">    </div>
      <div class="col-span-4 text-border-top sm:px-5p" data-aos="fade-down">
        <p class="mt-5p mb-2p">Let’s dive into the exciting part! With The Curated Blend package, you can personalize your website by choosing different sections from the options below. We’ll begin by selecting the header section, followed by your preferred navigation style, and you can continue customizing from there. This flexibility allows you to create a site that truly reflects your brand identity.</p>
      </div>
    </div>
  </div>
</section>


<!---------Header Banner----------->

<section class="max-w-screen-2xl mx-auto" id="header-banner">
  <div class="px-5p sm:px-10p py-5p 2xl:py-2p">
    <div class="text-border-bottom">
        <h2 class="mixmatch-title pb-2p lg:pr-25p">
          Choose a Header Banner to Reflect Your Brand’s Identity</h2>
    </div>
  
    <!-- Header Banner Lightgallery -->
    <div class="grid lg:grid-cols-2 gap-3 w-full overflow-x-auto pt-2p" id="lightgallery">
        <a class="col-span-1" data-aos="fade-down" href="/images/luxury-villa-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
            <div class="relative h-auto lg:h-80 2xl:h-96"> <!-- Responsive height -->
                <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/luxury-villa-website-design-development-refined-island-creations.png" alt="Example of a website design header banner featuring a luxurious accommodation with a title, subtitle, and 'Book Now' button.">
            </div>
        </a>
        <a class="col-span-1" data-aos="fade-down" href="/images/boutique-hotel-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
            <div class="relative h-auto lg:h-80 2xl:h-96"> <!-- Responsive height -->
                <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/boutique-hotel-website-design-development-refined-island-creations.png" alt="Header banner design with title and subtitle in the upper left corner, featuring a beautiful living room.">
            </div>
        </a>
        <a class="col-span-1" data-aos="fade-down" href="/images/fine-dining-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
            <div class="relative h-auto lg:h-80 2xl:h-96"> <!-- Responsive height -->
                <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/fine-dining-website-design-development-refined-island-creations.png" alt="Header banner design with title in the top right and subtitle below, showcasing fine dining food.">
            </div>
        </a>
        <a class="col-span-1" data-aos="fade-down" href="/images/superhost-airbnb-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
            <div class="relative h-auto lg:h-80 2xl:h-96"> <!-- Responsive height -->
                <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/superhost-airbnb-website-design-development-refined-island-creations.png" alt="Header banner design with title, subtitle, and button overlaying a beautiful living room.">
            </div>
        </a>
        <a class="col-span-1" data-aos="fade-down" href="/images/luxury-airbnb-lombok-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
            <div class="relative h-auto lg:h-80 2xl:h-96"> <!-- Responsive height -->
                <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/luxury-airbnb-lombok-website-design-development-refined-island-creations.png" alt="Header banner of villa interior with centered title, subtitle, and a 'Book Now' button.">
            </div>
        </a>
        <a class="col-span-1" data-aos="fade-down" href="/images/speakeasy-bar-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
            <div class="relative h-auto lg:h-80 2xl:h-96"> <!-- Responsive height -->
                <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/speakeasy-bar-website-design-development-refined-island-creations.png" alt="Header banner of a speakeasy bar with a drink and title, subtitle in the top left corner.">
            </div>
        </a>
    </div>
  </div>
</section>  






<!---------Navigation----------->

<section class="max-w-screen-2xl mx-auto" id="navigation">
  <div class="px-5p sm:px-10p py-5p 2xl:py-2p">
    <div class="text-border-bottom">
        <h2 class="mixmatch-title pb-2p lg:pr-25p">
          Select Your Website Navigation for an Intuitive User Experience</h2>
    </div>
    <!-- Navigation Lightgallery -->
    <div class="grid grid-cols-1 nav-gap w-full overflow-x-auto px-5p pt-2p" id="lg-1">
      <a class="col-span-1" data-aos="fade-down" href="/images/navigation-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
        <div class="relative nav-height"> <!-- Set a fixed height -->
          <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/navigation-website-design-development-refined-island-creations.png" alt="Website navigation design with logo on the left and links aligned to the right.">
        </div>
      </a>
      <a class="col-span-1" data-aos="fade-down" href="/images/fast-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
        <div class="relative nav-height"> <!-- Set a fixed height -->
          <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/fast-website-design-development-refined-island-creations.png" alt="Website navigation design with logo and links on the left, and a 'Book Now' button on the right.">
        </div>
      </a>
      <a class="col-span-1" data-aos="fade-down" href="/images/mix-and-match-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
        <div class="relative nav-height"> <!-- Set a fixed height -->
          <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/mix-and-match-website-design-development-refined-island-creations.png" alt="Website navigation design with logo on the left and a hamburger icon on the right.">
        </div>
      </a>
      <a class="col-span-1" data-aos="fade-down" href="/images/intuitive-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
        <div class="relative nav-height"> <!-- Set a fixed height -->
          <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/intuitive-website-design-development-refined-island-creations.png" alt="Website navigation design with a centered logo on top and links displayed below.">
        </div>
      </a>
    </div>
  </div>
</section>   




<!---------Image Gallery----------->

<section class="max-w-screen-2xl mx-auto" id="image-gallery">
  <div class="px-5p sm:px-10p py-5p 2xl:py-2p">
    <div class="text-border-bottom">
        <h2 class="mixmatch-title pb-2p lg:pr-25p">
          Choose an Image Gallery to Showcase Your Visual Story</h2>
    </div>
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-3 w-full overflow-x-auto px-5p pt-2p" id="lg-2">
      <!-- Image 1 -->
      <a class="col-span-1" data-aos="fade-down" href="/images/luxury-villa-image-gallery-web-design-development-refined-island-creations.png" aria-label="View larger version of the image">
        <div class="relative w-full h-auto xl:h-80"> <!-- Full height until lg, then set a height -->
          <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/luxury-villa-image-gallery-web-design-development-refined-island-creations.png" alt="Website image gallery with 2 rows of 3 images showcasing a villa's interior.">
        </div>
      </a>

      <!-- Image 2 -->
      <a class="col-span-1" data-aos="fade-down" href="/images/image-gallery-web-design-development-refined-island-creations.png" aria-label="View larger version of the image">
        <div class="relative w-full h-auto xl:h-80"> <!-- Full height until lg, then set a height -->
          <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/image-gallery-web-design-development-refined-island-creations.png" alt="Website image gallery with 1 large black and white image and 2 rows of 2 smaller images.">
        </div>
      </a>

      <!-- Image 3 -->
      <a class="col-span-1" data-aos="fade-down" href="/images/restaurant-image-gallery-web-design-development-refined-island-creations.png" aria-label="View larger version of the image">
        <div class="relative w-full h-auto xl:h-80"> <!-- Full height until lg, then set a height -->
          <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/restaurant-image-gallery-web-design-development-refined-island-creations.png" alt="Website image gallery showcasing various food images in different sizes.">
        </div>
      </a>

      <!-- Image 4 -->
      <a class="col-span-1" data-aos="fade-down" href="/images/beautiful-images-web-design-development-bali-lombok-refined-island-creations.png" aria-label="View larger version of the image">
        <div class="relative w-full h-auto xl:h-80"> <!-- Full height until lg, then set a height -->
          <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/beautiful-images-web-design-development-bali-lombok-refined-island-creations.png" alt="Website image gallery featuring three images of a luxury Airbnb interior.">
        </div>
      </a>
    </div>
  </div>
</section>


<!---------Text Section----------->

<section class="max-w-screen-2xl mx-auto" id="text-section">
  <div class="px-5p sm:px-10p py-5p 2xl:py-2p">
    <div class="text-border-bottom">
        <h2 class="mixmatch-title pb-2p lg:pr-25p">
          Add a Text Section That Tells Your Brand’s Story</h2>
    </div>

    <div class="grid grid-cols-2 gap-3 w-full overflow-x-auto pt-2p" id="lg-3">

      <a class="col-span-2" data-aos="fade-down" href="/images/minimalistic-web-design-development-bali-lombok-refined-island-creations.png" aria-label="View larger version of the image">
        <div class="relative">
          <img loading="lazy" class="w-full h-auto object-contain object-center" src="/images/minimalistic-web-design-development-bali-lombok-refined-island-creations.png" alt="Website text section with a title in the first column and text in two adjacent columns.">
        </div>
      </a>
      <a class="col-span-2" data-aos="fade-down" href="/images/title-text-section-web-design-development-bali-lombok-refined-island-creations.png" aria-label="View larger version of the image">
        <div class="relative">
          <img loading="lazy" class="w-full h-auto object-contain object-center" src="/images/title-text-section-web-design-development-bali-lombok-refined-island-creations.png" alt="Website text section with a center-aligned title and two centered paragraphs below.">
        </div>
      </a>
      <a class="col-span-2" data-aos="fade-down" href="/images/text-section-web-design-development-bali-lombok-refined-island-creations.png" aria-label="View larger version of the image">
        <div class="relative">
          <img loading="lazy" class="w-full h-auto object-contain object-center" src="/images/text-section-web-design-development-bali-lombok-refined-island-creations.png" alt="Website text section with a vertically oriented title beside a horizontal paragraph.">
        </div>
      </a>
      <a class="col-span-2" data-aos="fade-down" href="/images/testimonial-section-web-design-development-bali-lombok-refined-island-creations.png" aria-label="View larger version of the image">
        <div class="relative">
          <img loading="lazy" class="w-full h-auto object-contain object-center" src="/images/testimonial-section-web-design-development-bali-lombok-refined-island-creations.png" alt="Website text section with a centered title and a paragraph between two horizontal lines.">
        </div>
      </a>
      <a class="col-span-1" data-aos="fade-down" href="/images/image-and-text-section-web-design-development-bali-lombok-refined-island-creations.png" aria-label="View larger version of the image">
        <div class="relative">
          <img loading="lazy" class="w-full h-auto object-contain object-center" src="/images/image-and-text-section-web-design-development-bali-lombok-refined-island-creations.png" alt="Website text section with alternating rows of images and text with titles and paragraphs.">
        </div>
      </a>
      <a class="col-span-1" data-aos="fade-down" href="/images/restaurant-villa-web-design-development-bali-lombok-refined-island-creations.png" aria-label="View larger version of the image">
        <div class="relative">
          <img loading="lazy" class="w-full h-auto object-contain object-center" src="/images/restaurant-villa-web-design-development-bali-lombok-refined-island-creations.png" alt="Website text section with overlapping image, title, and paragraph in alternating rows.">
        </div>
      </a>
    </div>
  </div>
</section>





<!---------Who this is for------------->

<section class="max-w-screen-2xl mx-auto">
  <div class="px-5p sm:px-10p py-10p sm:py-5p xl:py-2p">
    <div class="lg:grid lg:grid-cols-6 lg:gap-4">
      <div class="col-span-2">
        <h2 class="mid-title pb-2p">Who This Is For</h2>
      </div>
      <div class="col-span-4">    </div>
      <div class="col-span-2">    </div>
      <div class="col-span-4 text-border-top sm:px-5p" data-aos="fade-down">
        <p class="mt-5p mb-2p">Ideal for:</p>
        <ul class="ml-5p" style="list-style-type: disc;">
            <li class="mb-2p">Businesses looking to enhance their online identity with a more personalized approach.</li>
            <li class="mb-2p">Startups and entrepreneurs who require a distinctive, high-quality website that stands out.</li>
            <li>Cafes, boutique resorts, and Airbnbs seeking a visually appealing and functional site without the complexity of a full custom design.</li>
        </ul>
      </div>
    </div>
  </div>
</section>



<!---------Package details------------->

{% include acc-package-details-curated.html %}


<!---------How it works------------->

{% include acc-process-timel-curated.html %}


<!---------Pricing and Value Proposition------------->

{% include acc-price-curated.html %}



<!---------Ready to Get Started?------------->

<section class="max-w-screen-2xl mx-auto">
  <div class="px-5p sm:px-10p py-10p sm:py-5p">
    <div class="lg:grid lg:grid-cols-6 lg:gap-4">
      <div class="col-span-2">
        <p class="mid-title pb-2p">Ready to Get Started?</p>
      </div>
      <div class="col-span-4">    </div>
      <div class="col-span-2">    </div>
      <div class="col-span-4 text-border-top sm:px-5p" data-aos="fade-down">
        <p class="mt-5p mb-2p">Elevate your business’s online presence today!</p>
        <p>Reach out to us to begin your journey with The Curated Blend or to learn more.</p>
        <div class="flex mt-5p">
          <a href="https://calendly.com/refinedislandcreations/consultation-call" target="_blank" class="text-xl cta" aria-label="Schedule a consultation call with Refined Island Creations"> Book A Call Today </a>
      </div>
      </div>
    </div>
  </div>
</section>