<section class="accordion max-w-screen-2xl mx-auto">
    <div class="px-5p sm:px-10p py-5p">
        <div class="dt text-border-bottom">
            <a href="" class="mid-title pb-2p"> Price and Additional Costs</a>
        </div>
        <div class="dd">
            <div class="lg:grid lg:grid-cols-6">
                <div class="col-span-2"></div>
                <div class="col-span-4 sm:px-5p">
                    <p class="mt-5p mb-2p">Price: <strong>$500</strong></p>
                    <p> The Express Edition offers outstanding value, providing a custom-coded, high-quality website with a swift turnaround. </p>
                </div>
                <div class="col-span-2"></div>
                <div class="col-span-4 sm:px-5p">
                    <p class="mt-5p mb-2p">Additional Costs:</p>
                    <p class="mt-5pmb-2p">Please note that the domain name, hosting, and CMS are not included in our package price. These services will need to be purchased separately.</p>
                    <ul class="ml-5p" style="list-style-type: disc;">
                        <li class="mb-2p">Domain: If you already have a domain name, we can link it to your website. If not, we recommend purchasing your domain through GoDaddy or Google Domains, typically costing between $10 to $20 per year.</li>
                        <li class="mb-2p">Netlify: Your external hosting provider. Most clients find the free plan sufficient, but the pro plan is approximately $19 per month.</li>
                        <li class="mb-2p">CloudCannon: The content management system (CMS) that allows easy website editing. Using our partner link, CloudCannon costs only $10 per month.</li>
                    </ul>
                </div>
            </div>  
        </div>
    </div>
</section> 