<section class="accordion max-w-screen-2xl mx-auto px-5p sm:px-10p py-5p">

    <div class="dt text-border-bottom">
        <a href="" class="mid-title pb-2p"> Process and Timeline</a>
    </div>
   
    <div class="dd">
        <div class="lg:grid lg:grid-cols-6">
            <div class="col-span-2"></div>
            <div class="col-span-4 sm:px-5p">
                <p class="mt-5p mb-2p">How It Works:</p>
                <ol class="ml-5p" style="list-style-type: decimal;">
                    <li class="mb-2p">Consultation Call: We begin with a deep-dive consultation to fully understand your brand’s needs and create a clear scope of work.</li>
                    <li class="mb-2p">Mood Board & Wireframe Creation: You’ll be able to collaborate on a detailed blueprint of your site’s structure, design, and functionality.</li>
                    <li class="mb-2p">Custom Design & Development: Once the wireframe is approved, we proceed to design and develop your fully custom website, built to your exact specifications.</li>
                    <li class="mb-5p">Final Touches: After testing, we’ll connect your domain and ensure everything is ready for launch.</li>
                </ol>
            </div>
            <div class="col-span-2"></div>
            <div class="col-span-4 sm:px-5p">
                <p class="mt-5p mb-2p">Timeline:</p>
                <p>Due to the bespoke nature of this package, the timeline can vary from <strong>4 to 8 weeks</strong> depending on your requirements and content availability. High-quality images and copywriting will significantly impact the project’s pace. Copywriting assistance is available upon request but may affect the final price.</p>
            </div>
        </div>  
    </div>
</section> 