<section class="accordion max-w-screen-2xl mx-auto">
    <div class="px-5p sm:px-10p py-5p md:py-2p">
        <div class="dt text-border-bottom">
            <a href="" class="mid-title pb-2p sm:pb-0"> Package Details</a>
        </div>
        <div class="dd">
            <div class="lg:grid lg:grid-cols-6">
                <div class="col-span-2"></div>
                <div class="col-span-4 sm:px-5p">
                    <p class="mt-5p mb-2p">What’s Included:</p>
                    <ul class="ml-5p" style="list-style-type: disc;">
                        <li class="mb-2p">Thoughtfully Crafted Design: Choose one of our custom designs focused on intuitive UX and UI.</li>
                        <li class="mb-2p">Custom-Coded Excellence: High-performance, seamless functionality.</li>
                        <li class="mb-2p">Fully Responsive Design: Optimized for all devices, from desktops to mobiles.</li>
                        <li class="mb-2p">SEO-Ready: Includes alt-text training for SEO optimization.</li>
                        <li class="mb-2p">Integrated Features: Buttons for booking, WhatsApp, and PDF menu access.</li>
                        <li class="mb-2p">Social Media Integration: Links to Instagram, Facebook, Tripadvisor, etc.</li>
                        <li class="mb-2p">User-Friendly Content Management System: Easy updates for images and content (CMS cost not included).</li>
                        <li class="mb-2p">All images are optimized for fast loading and improved SEO.  Optimized Images: Fast loading and improved SEO.</li>
                    </ul>
                </div>
                <div class="col-span-2"></div>
                <div class="col-span-4 sm:px-5p">
                    <h2 class="mt-5p mb-2p lg:mt-2p">Customization Options:</h2>
                    <ul class="ml-5p" style="list-style-type: disc;">
                    <li>Brand Identity Customization:Tailor colors, fonts, images, and content to match your brand identity.</li>
                    </ul>
                </div>
            </div>  
        </div>
    </div>
</section> 