<div class="accordion lg:ml-5p lg:mr-5p">

    <div class="dt">
      <a href="" class="accordion-title text-left font-semibold text-xl">
        "Can I customize my website for future changes?"
      </a>
    </div>
 
  <div class="dd">
      
              <p class="px-5p mb-8 text-center text-dark"> 
                At Refined Island Creations, we believe in giving you complete control over your digital masterpiece. Our commitment to creating a customized, responsive, and distinctive website goes beyond the initial design phase.
              </p>

              <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
                <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-dumbbell text-4xl sm:text-5xl"></i> </div>
                <div class="col-span-4 p-5p sm:p-0 sm:pr-10p">
                   
                  <p class="font-semibold text-xl mb-3p"> Your Gateway to Empowerment. </p> 
                  <p class="text-dark">
                    After creating your website with meticulous attention to detail, we will provide you with our user-friendly Content Management System (CMS). This intuitive platform empowers you to effortlessly make future updates and changes, giving you full control over your online presence.
                  </p>
                </div>
              </div>

              <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
                <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-person-chalkboard text-4xl sm:text-5xl"></i> </div>
                <div class="col-span-4 p-5p sm:p-0 sm:pr-10p">
                   
                  <p class="font-semibold text-xl mb-3p"> Personalized Training for Your Team. </p> 
                  <p class="text-dark">
                    To seamlessly integrate with the CMS, we will arrange a Zoom call with you and your website caretakers. We will guide you on using the CMS via screenshare, empowering you to effortlessly manage your website.
                  </p>
                </div>
              </div>

              <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
                <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-hand-holding-hand text-4xl sm:text-5xl"></i> </div>
                <div class="col-span-4 p-5p sm:p-0 sm:pr-10p">
                   
                  <p class="font-semibold text-xl mb-3p"> Flexibility to Suit Your Needs. </p> 
                  <p class="text-dark">
                    We understand that every client's comfort level with website management may vary. We provide customizable website management options to suit your preferences. Whether you desire complete editability or prefer to limit changes to specific elements, we cater to your unique requirements.
                  </p>
                </div>
              </div>

              <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
                <div class="col-span-1 flex items-center justify-center"> <i class="fa-regular fa-life-ring text-4xl sm:text-5xl"></i> </div>
                <div class="col-span-4 p-5p sm:p-0 sm:pr-10p">
                   
                  <p class="font-semibold text-xl mb-3p"> Ongoing Assistance and Support. </p> 
                  <p class="text-dark">
                    Our commitment to your success does not end with the website handover. For additional peace of mind, we provide monthly maintenance options to ensure ongoing support and updates for your website, ensuring it runs smoothly and efficiently.
                  </p>
                </div>
              </div>
  </div>
</div>
  
  