<div class=" bg-agreen text-[#001410]" x-data="{ selected: null }">
  <div class="relative ">
      <button type="button" class="py-5p block w-full px-5p" 
              @click="selected = (selected !== 1) ? 1 : null">
          <div class="flex items-center justify-between">
              <h4 class="mb-0 font-syne text-2xl sm:text-3xl mr-5p"> "Why Do I Need a Website for My Luxury Hotel or Villa?" </h4>
              <span x-text="selected === 1 ? '-' : '+'" class="text-4xl"></span>
          </div>
      </button>

      <div class="relative overflow-hidden transition-all duration-700" 
          x-cloak
          x-show="selected === 1"
          x-ref="container1">
          <div class="pb-6">
            
            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center mt-8"> <i class="fa-solid fa-sack-dollar text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> Maximize revenue potential by embracing direct bookings. </h4> 
                <p>
                  A website will enable you to streamline the booking process, empowering your guests to secure their luxurious stay directly with you. Say farewell to commission fees and channel the revenue back into enhancing your guests' experiences, making your property the captivating destination of choice.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-trophy text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                
                <h4 class="font-syne font-semibold text-xl"> Captivate with an unforgettable first impression. </h4> 
                <p>
                  Elevate your brand's presence with a bespoke website that showcases your unique luxury offerings. In a world of discerning travelers, first impressions are paramount. A custom-designed website becomes the digital face of your luxury haven, captivating potential guests and instilling unwavering confidence in your brand. We weave seamless user experiences, exquisite visuals, and cohesive brand identity into every pixel, ensuring your website exudes the very essence of luxury that defines your property.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-ranking-star text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                
                <h4 class="font-syne font-semibold text-xl"> Surpass the competition: trailblaze with custom-coded excellence. </h4> 
                <p>
                  In the fiercely competitive hospitality realm, standing still is not an option. Our bespoke websites position you as a trailblazer, staying one step ahead of the competition. Embrace the transformative power of a custom-coded website that not only sets you apart but also delivers an intuitive user experience, ensuring your property takes center stage in the digital landscape.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-magnifying-glass-chart text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p sm:pb-5p">
                
                <h4 class="font-syne font-semibold text-xl"> Unleash SEO dominance: ascend the ranks on search engines. </h4>
                <p>  
                  Harness the future of SEO with our meticulous website craftsmanship. With attention to detail in coding and performance metrics, your property ranks higher on search engines, captivating potential guests in pursuit of the pinnacle of luxury experiences. Embrace the power of organic visibility and seize the spotlight among travelers seeking the crème de la crème of hospitality offerings.
                </p>
              </div>
            </div>
              
          </div>
      </div>
  </div>
</div>
  
  