<section class="accordion max-w-screen-2xl mx-auto px-10p py-5p">

    <div class="dt">
        <a href="" class="mid-title">
            Choose a Text Section
        </a>
    </div>
   
    <div class="dd">
        <div class="grid grid-cols-2 gap-3 w-full overflow-x-auto" id="lightgallery">

            <a class="col-span-2" href="/images/minimalistic-web-design-development-bali-lombok-refined-island-creations.png" aria-label="View larger version of the image">
              <div class="relative h-80"> <!-- Set a fixed height -->
                <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/minimalistic-web-design-development-bali-lombok-refined-island-creations.png" alt="">
              </div>
            </a>
            <a class="col-span-2" href="/images/title-text-section-web-design-development-bali-lombok-refined-island-creations.png" aria-label="View larger version of the image">
              <div class="relative h-80"> <!-- Set a fixed height -->
                <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/title-text-section-web-design-development-bali-lombok-refined-island-creations.png" alt="">
              </div>
            </a>
            <a class="col-span-2" href="/images/text-section-web-design-development-bali-lombok-refined-island-creations.png" aria-label="View larger version of the image">
              <div class="relative h-80"> <!-- Set a fixed height -->
                <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/text-section-web-design-development-bali-lombok-refined-island-creations.png" alt="">
              </div>
            </a>
            <a class="col-span-2" href="/images/testimonial-section-web-design-development-bali-lombok-refined-island-creations.png" aria-label="View larger version of the image">
              <div class="relative h-80"> <!-- Set a fixed height -->
                <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/testimonial-section-web-design-development-bali-lombok-refined-island-creations.png" alt="">
              </div>
            </a>
            <a class="col-span-1" href="/images/image-and-text-section-web-design-development-bali-lombok-refined-island-creations.png" aria-label="View larger version of the image">
              <div class="relative h-80"> <!-- Set a fixed height -->
                <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/image-and-text-section-web-design-development-bali-lombok-refined-island-creations.png" alt="">
              </div>
            </a>
            <a class="col-span-1" href="/images/restaurant-villa-web-design-development-bali-lombok-refined-island-creations.png" aria-label="View larger version of the image">
              <div class="relative h-80"> <!-- Set a fixed height -->
                <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/restaurant-villa-web-design-development-bali-lombok-refined-island-creations.png" alt="">
              </div>
            </a>
          </div>
         
    </div>
</section>   