<section class="accordion max-w-screen-2xl mx-auto px-10p py-5p">

    <div class="dt">
        <a href="" class="mid-title">
            Choose an Image Gallery
        </a>
    </div>
   
    <div class="dd">
        <div class="grid grid-cols-1 gap-10 w-full overflow-x-auto px-5p" id="lg-1">
            <a class="col-span-1" href="/images/luxury-villa-image-gallery-web-design-development-refined-island-creations.png" aria-label="View larger version of the image">
              <div class="relative h-24"> <!-- Set a fixed height -->
                <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/luxury-villa-image-gallery-web-design-development-refined-island-creations.png" alt="">
              </div>
            </a>
            <a class="col-span-1" href="/images/image-gallery-web-design-development-refined-island-creations.png" aria-label="View larger version of the image">
              <div class="relative h-24"> <!-- Set a fixed height -->
                <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/image-gallery-web-design-development-refined-island-creations.png" alt="">
              </div>
            </a>
            <a class="col-span-1" href="/images/restaurant-image-gallery-web-design-development-refined-island-creations.png" aria-label="View larger version of the image">
              <div class="relative h-24"> <!-- Set a fixed height -->
                <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/restaurant-image-gallery-web-design-development-refined-island-creations.png" alt="">
              </div>
            </a>
            <a class="col-span-1" href="/images/beautiful-images-web-design-development-bali-lombok-refined-island-creations.png" aria-label="View larger version of the image">
              <div class="relative h-24"> <!-- Set a fixed height -->
                <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/beautiful-images-web-design-development-bali-lombok-refined-island-creations.png" alt="">
              </div>
            </a>
          </div>
         
    </div>
</section>   