<section class="accordion max-w-screen-2xl mx-auto px-10p py-5p">

    <div class="dt">
        <a href="" class="mid-title">
          Choose a Header Banner
        </a>
    </div>
   
    <div class="dd">
         
              <!-- Header Banner Lightgallery -->
        <div class="grid grid-cols-2 gap-3 w-full overflow-x-auto" id="lightgallery">
            <a class="col-span-1" href="/images/luxury-villa-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
            <div class="relative h-80"> <!-- Set a fixed height -->
                <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/luxury-villa-website-design-development-refined-island-creations.png" alt="Luxury Villa">
            </div>
            </a>
            <a class="col-span-1" href="/images/boutique-hotel-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
            <div class="relative h-80"> <!-- Set a fixed height -->
                <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/boutique-hotel-website-design-development-refined-island-creations.png" alt="Boutique Hotel">
            </div>
            </a>
            <a class="col-span-1" href="/images/fine-dining-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
            <div class="relative h-80"> <!-- Set a fixed height -->
                <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/fine-dining-website-design-development-refined-island-creations.png" alt="Fine Dining">
            </div>
            </a>
            <a class="col-span-1" href="/images/superhost-airbnb-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
            <div class="relative h-80"> <!-- Set a fixed height -->
                <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/superhost-airbnb-website-design-development-refined-island-creations.png" alt="Superhost Airbnb">
            </div>
            </a>
            <a class="col-span-1" href="/images/luxury-airbnb-lombok-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
            <div class="relative h-80"> <!-- Set a fixed height -->
                <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/luxury-airbnb-lombok-website-design-development-refined-island-creations.png" alt="Luxury Airbnb Lombok">
            </div>
            </a>
            <a class="col-span-1" href="/images/speakeasy-bar-website-design-development-refined-island-creations.png" aria-label="View larger version of the image">
            <div class="relative h-80"> <!-- Set a fixed height -->
                <img loading="lazy" class="w-full h-full object-cover object-center" src="/images/speakeasy-bar-website-design-development-refined-island-creations.png" alt="Speakeasy Bar">
            </div>
            </a>
        </div>
  </div>
</section>   