<div class="accordion lg:ml-5p lg:mr-5p">
  
    <div class="dt">
      <a href="" class="accordion-title text-left font-semibold text-xl"> "Why choose a website over relying solely on booking platforms?" </a>
    </div>

    <div class="dd">

      <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
        <div class="col-span-1 flex items-center justify-center mt-8"> <i
            class="fa-solid fa-hand-scissors text-4xl sm:text-5xl"></i> </div>
        <div class="col-span-4 p-5p sm:p-0 sm:pr-10p">

          <p class="font-semibold text-xl mb-3p"> Break Free from Commission Constraints. </p>
          <p class="text-dark">
            Booking platforms and travel agencies charge high commissions for selling your rooms, reducing your profits.
            Imagine retaining that revenue and directing it back into enhancing your guest experience. Try our "Lost
            Revenue Revealer" calculator, which shows the significant savings you can make by receiving direct bookings
            through your website.
          </p>
        </div>
      </div>

      <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
        <div class="col-span-1 flex items-center justify-center"> <i class="fa-regular fa-star text-4xl sm:text-5xl"></i>
        </div>
        <div class="col-span-4 p-5p sm:p-0 sm:pr-10p">

          <p class="font-semibold text-xl mb-3p"> Showcase Your Unique Offering. </p>
          <p class="text-dark">
            Create a unique website to showcase your property's charm and allure. Stand out and captivate your audience
            with an immersive digital experience that leaves a lasting impression. Share your property's story, amenities,
            and exclusive features, inviting guests to indulge in a remarkable stay.
          </p>
        </div>
      </div>

      <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
        <div class="col-span-1 flex items-center justify-center"> <i
            class="fa-regular fa-handshake text-4xl sm:text-5xl"></i> </div>
        <div class="col-span-4 p-5p sm:p-0 sm:pr-10p">

          <p class="font-semibold text-xl mb-3p"> Building Trust and Credibility. </p>
          <p class="text-dark">
            A dedicated website enhances credibility for a luxury establishment. Potential guests prefer direct
            interactions and view the website as a window into the property's world, building trust and confidence in
            choosing it for their getaway.
          </p>
        </div>
      </div>

      <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
        <div class="col-span-1 flex items-center justify-center"> <i
            class="fa-solid fa-wand-magic-sparkles text-4xl sm:text-5xl"></i> </div>
        <div class="col-span-4 p-5p sm:p-0 sm:pr-10p">

          <p class="font-semibold text-xl mb-3p"> Seamless User Experience. </p>
          <p class="text-dark">
            Your website acts as a digital concierge, providing a seamless booking experience for guests. With
            user-friendly navigation and mobile-responsive designs, we ensure easy access to your property on any device.
          </p>
        </div>
      </div>

      <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
        <div class="col-span-1 flex items-center justify-center"> <i
            class="fa-regular fa-circle-user text-4xl sm:text-5xl"></i> </div>
        <div class="col-span-4 p-5p sm:p-0 sm:pr-10p">

          <p class="font-semibold text-xl mb-3p"> Personalized Marketing and Guest Engagement. </p>
          <p class="text-dark">
            Use your website to personalize marketing and offer promotions to guests. Create special packages, loyalty
            programs, and incentives to encourage repeat bookings and build lasting relationships.
          </p>
        </div>
      </div>
 

  </div>
</div>
