<div class="accordion lg:ml-5p lg:mr-5p">
  
  <div class="dt">
      <a href="" class="accordion-title text-left font-semibold text-xl">
        "How long does it take to get my custom website crafted by Refined Island Creations?"
      </a>
          </div>
      
          
      <div class="dd"> 
         
            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex justify-center mt-8"> <i class="fa-solid fa-phone text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-10p">
                 
                <p class="font-semibold text-xl mb-3p"> Schedule a Free Consultation Call. </p> 
                <p class="pb-3p text-dark">
                  To accurately plan your timeline, we suggest scheduling a consultation call with our team. This will help us understand your business and create a website that reflects your brand essence.
                </p>
                <div class="flex justify-center">
                  <a href="https://calendly.com/refinedislandcreations/consultation-call" target="_blank" class="cta-timel"> Book A Call Today! </a>
                </div>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-timeline text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-10p">
                 
                <p class="font-semibold text-xl mb-3p"> Factors Influencing the Timeline. </p> 
                <p class="text-dark">
                  The complexity of your website, the availability of high-quality, cohesive pictures, and compelling copy can affect the timeline. Professional photo shoots and copywriting assistance are available upon request but will affect the website price.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-child-reaching text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <p class="font-semibold text-xl mb-3p"> Tailored Attention for Every Client. </p> 
                <p class="text-dark">
                  At Refined Island Creations, we pride ourselves on creating unique custom websites that stand out from generic templates. To ensure personalized attention, we limit the number of clients we work with monthly. This ensures your project receives the time and focus it deserves.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-calendar-days text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <p class="font-semibold text-xl mb-3p"> Plan Ahead for Exclusivity. </p> 
                <p class="text-dark">
                  Due to our commitment to excellence, we are fully booked until November 2023. If you want our team to design and build your website, make sure to secure your spot in our calendar by allowing enough time.
                </p>
              </div>
            </div>
<!-------
            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-gauge-simple-high text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <p class="font-semibold text-xl mb-3p"> Presenting "The Fast Lane Option". </p> 
                <p class="text-dark">
                  Introducing "The FastLane Option" - our exclusive service for time-conscious clients. This premium offering accelerates the website development process, delivering a tailor-made site of unparalleled quality and speed. Despite the higher investment, our unwavering commitment to excellence guarantees a bespoke digital masterpiece that surpasses expectations in both design and functionality.
                </p>
              </div>
            </div>
            ----->

  </div>
</div>
  
  