<footer class="max-w-screen-2xl mx-auto text-cream">
    <div class="lg:grid lg:grid-cols-5 lg:gap-5 p-5p pt-5p">
        <div class="col-span-1 flex items-center justify-center py-10p">
            <a href="/index.html" class="inline-block logo-width-footer" aria-label="Go to Refined Island Creations homepage">
                {% include refined-island-creations-logo-leaf.html %}
            </a>
        </div>
        <div class="col-span-2 text-center py-5p sm:py-0 lg:mx-10p">
            <p class="mb-4 text-lg"> Elevate Your Online Presence. <br> Websites Deserve to Be Luxurious Too. </p>
            <div>
                <a href="https://calendly.com/refinedislandcreations/consultation-call" target="_blank" class="header-cta" aria-label="Schedule a consultation call with Refined Island Creations"> 
                    Book A Call Today 
                </a>
            </div>
            
        </div>
        <div class="col-span-1 text-center sm:hidden lg:block lg:text-left pt-15p lg:pt-0">
            <h4 class="font-semibold text-lightgreen pb-4p"> Signature Services </h4>
            <nav>
                <a href="/the-express-edition.html" class="block" aria-label="Visit the Express Edition page"> Express Edition </a>
                <a href="/the-curated-blend.html" class="block" aria-label="Visit the Curated Blend page"> Curated Blend </a>
                <a href="/the-tailored-masterpiece.html" class="block" aria-label="Visit the Tailored Masterpiece page"> Tailored Masterpiece </a>
            </nav>            
        </div>
        <div class="col-span-1 text-center sm:hidden lg:block lg:text-left py-10p lg:py-0">
            <h4 class="font-semibold text-lightgreen pb-4p"> Find Out More </h4>
            <nav>
                <a href="/portfolio.html" class="block" aria-label="Visit the Portfolio and Testimonials page"> Portfolio & Testimonials </a>
                <a href="https://calendly.com/refinedislandcreations/consultation-call" target="_blank" class="block" aria-label="Schedule a call with us"> Schedule A Call </a>
                <a href="https://wa.me/your-phonenumber" target="_blank" class="block" aria-label="Send us a WhatsApp message"> Send us a WhatsApp </a>
                <a href="/contact.html/#contactform" class="block" aria-label="Go to the Contact Form"> Contact Form </a>
                <a href="https://www.instagram.com/refinedislandcreations/" target="_blank" class="block" aria-label="Follow us on Instagram"> Follow us </a>
            </nav>            
        </div>
        <!-------Small Nav 2 column--------->
        <div class="hidden lg:hidden sm:grid grid-cols-2 pt-15p pb-5p">
            <div class="col-span-1 text-center">
                <h4 class="font-semibold text-lightgreen"> Signature Services </h4>
                <nav>
                    <a href="/the-express-edition.html" class="block mt-5p" aria-label="View the Express Edition page"> Express Edition </a>
                    <a href="/the-curated-blend.html" class="block" aria-label="View the Curated Blend page"> Curated Blend </a>
                    <a href="/the-tailored-masterpiece.html" class="block" aria-label="View the Tailored Masterpiece page"> Tailored Masterpiece </a>
                </nav>                
            </div>
            <div class="col-span-1 text-center">
                <h4 class="font-semibold text-lightgreen"> Find Out More </h4>
                <nav>
                    <a href="/portfolio.html" class="block mt-5p" aria-label="View Portfolio and Testimonials page"> Portfolio & Testimonials </a>
                    <a href="https://calendly.com/refinedislandcreations/consultation-call" target="_blank" class="block" aria-label="Schedule a consultation call"> Schedule A Call </a>
                    <a href="https://wa.me/6282339577507" target="_blank" class="block" aria-label="Send us a message on WhatsApp"> Send us a WhatsApp </a>
                    <a href="/contact.html#contactform" class="block" aria-label="Access the Contact Form"> Contact Form </a>
                    <a href="https://www.instagram.com/refinedislandcreations/" target="_blank" class="block" aria-label="Follow us on Instagram"> Follow us </a>
                </nav>                
            </div>
        </div>
    </div>
    <div class="text-center px-5p md:px-0">
        <p class="subtle">&copy; {{ "now" | date: "%Y" }} All rights reserved.</p>
        <a href="https://refinedislandcreations.com/" class="subtle pt-2" target="_blank" rel="noopener noreferrer" aria-label="Link to Refined Island Creations website design and development">
            Designed and built by <span class="underline font-semibold">Refined Island Creations</span>.
        </a>
    </div>
</footer>







