<footer class="text-cream">
    
<div class="lg:grid lg:grid-cols-5 lg:gap-5 p-5p pt-15p sm:pt-10p lg:pt-5p">

    <div class="col-span-1 flex items-center justify-center py-10p">
        <a href="/index.html" class="inline-block w-40">
            {% include refined-island-creations-logo-leaf.html %}
        </a>
    </div>

    <div class="col-span-2 text-center py-5p sm:py-0 lg:mx-10p">
        <p class="mb-4 text-lg"> Elevate Your Online Presence. <br> Websites Deserve to Be Luxurious Too. </p>
        <div>
            <a href="https://calendly.com/refinedislandcreations/consultation-call" target="_blank" class="header-cta"> Book A Call Today </a>
        </div>
    </div>

    <div class="col-span-1 text-center sm:hidden lg:block lg:text-left pt-15p lg:pt-0">
        <h4 class="font-semibold text-lightgreen"> Explore </h4>
        <nav>
            <a href="/services.html" class="block"> Services </a>
            <a href="/portfolio.html" class="block"> Portfolio </a>
            <a href="/process-pricing.html" class="block"> Process & Pricing </a>
            <a href="/about.html" class="block"> About </a>
        </nav>
    </div>

    <div class="col-span-1 text-center sm:hidden lg:block lg:text-left py-10p lg:py-0">
        <h4 class="font-semibold text-lightgreen"> Connect </h4>
        <nav>
            <a href="https://calendly.com/refinedislandcreations/consultation-call" target="_blank" class="block"> Schedule A Call </a>
            <a href="https://wa.me/your-phonenumber" target="_blank" class="block"> Send us a WhatsApp </a>
            <a href="/contact.html/#contactform" class="block"> Contact Form </a>
            <a href="https://www.instagram.com/refinedislandcreations/" target="_blank" class="block"> Follow us </a>
        </nav>
    </div>


<!-------Small Nav 2 column--------->
<div class="hidden lg:hidden sm:grid grid-cols-2 pt-15p pb-5p">
    <div class="col-span-1 text-center">
        <h4 class="font-semibold text-lightgreen"> Explore </h4>
        <nav>
            <a href="/services.html" class="block"> Services </a>
            <a href="/portfolio.html" class="block"> Portfolio </a>
            <a href="/process-pricing.html" class="block"> Process & Pricing </a>
            <a href="/about.html" class="block"> About </a>
        </nav>
    </div>

    <div class="col-span-1 text-center">
        <h4 class="font-semibold text-lightgreen"> Connect </h4>
        <nav>
            <a href="" target="_blank" class="block"> Schedule A Call </a>
            <a href="https://wa.me/6282339577507" target="_blank" class="block"> Send us a WhatsApp </a>
            <a href="/contact.html#contactform" class="block"> Contact Form </a>
            <a href="https://www.instagram.com/refinedislandcreations/" target="_blank" class="block"> Follow us </a>
        </nav>
    </div>
</div>




</div>

<div class="text-center px-5p md:px-0">
    <p class="subtle"> © 2024 All rights reserved. <br> Designed and built by Refined Island Creations. </p>
</div>

</footer>







