<header class="px-5p py-10p md:py-5p flex justify-between items-center ">
    <a href="/index.html" class="w-32 sm:w-48">
        {% include refined-island-creations-logo-straight.html %}
    </a>

    <nav class="flex justify-center items-center flex-wrap font-syne font-normal">
        <div class="hidden sm:block">
            <a href="https://calendly.com/refinedislandcreations/consultation-call" target="_blank" class="mr-20 header-cta"> Book A Call Today </a>
        </div>

        <div class="hamburger-wrapper">
            <div class="hamburger-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="mobile-menu">
            <nav>
                <a href="/services.html"> Services </a>
                <a href="/portfolio.html"> Portfolio </a>
                <a href="/process-pricing.html"> Process & Pricing </a>
                <a href="/about.html"> About </a>
                <a href="/contact.html"> Contact Us </a>
            </nav>
        </div>

    </nav>

</header>