<header class="max-w-screen-2xl mx-auto relative">
    <section> 
        {% for item in page.header %}
        <div class="bg-cover bg-center bg-no-repeat relative" style="background-image: url('{{ item.image }}'); height: 90vh !important;">

            <div class="px-5p py-10p md:py-5p flex justify-between items-center ">
                <a href="/index.html" class="w-32 sm:w-48">
                    {% include refined-island-creations-logo-straight.html %}
                </a>
            
                <nav class="flex justify-center items-center flex-wrap font-syne font-normal">
                    <div class="hamburger-wrapper">
                        <div class="hamburger-menu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
            
                    <div class="mobile-menu">
                        <nav>
                            <a href="/index.html" class="w-32 sm:w-48">
                                {% include refined-island-creations-logo-straight.html %}
                            </a>
                            <a href="/services.html"> Services </a>
                            <a href="/portfolio.html"> Portfolio </a>
                            <a href="/process-pricing.html"> Process & Pricing </a>
                            <a href="/about.html"> About </a>
                            <a href="/contact.html"> Contact Us </a>
                        </nav>
                    </div>
                </nav>
            </div>

            <div class="flex flex-col h-full">
                <div class="relative">
                    <div class="px-5p mt-10p">
                        <p class="font-serif uppercase text-lightgreen text-6xl">{{ item.title }}</p>
                        <h1 class="text-lg sm:text-xl font-serif">{{ item.text }}</h1>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <!-- Bouncing dot at the bottom of the header -->
        <div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 bg-lightgreen w-8 h-8 rounded-full bouncing-animation"></div>

        <div class="flex flex-col justify-end h-full p-5">
            <div class="bg-lightgreen p-5 relative header-box w-full">
                <div class="">
                    <a href="#" class="block underline underline-offset-4">The Quick Start</a>
                    <a href="#" class="block underline underline-offset-4">The Curated Blend</a>
                    <a href="#" class="block underline underline-offset-4">The Tailored Masterpiece</a>
                </div>
            </div>
        </div>
    </section>
</header>
